body {
  font-family: var(--main-font);
  color: var(--main-txt-cl);
  background-color: #ffffff;
  font-size: 14px;
  letter-spacing: 0.03em;
}

.section {
  @include section;
}

button {
  display: block;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

.btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.06em;

  background-color: var(--accent-txt-cl);
  color: var(--white-txt-cl);
  border-color: transparent;
}
