:root {
  /* Fonts */
  --main-font: Roboto, sans-serif;
  --secondary-font: Raleway, sans-serif;

  /* Text colors */
  --main-txt-cl: #212121;
  --accent-txt-cl: #2196f3;
  --secondary-txt-cl: #757575;
  --white-txt-cl: #ffffff;
  --black-txt-cl: #000000;
  --white-txt-cl-60: rgba(255, 255, 255, 0.6);

  /* Background colors */
  --accent-bg-cl: #2196f3;
  --main-bg-cl: #2f303a;
  --secondary-bg-cl: #f5f5f5;
  --light-bg-cl: #f5f4fa;
  --white-bg-cl: #ffffff;

  /* Icons colors */
  --light-ic-cl: #afb1b8;
  --grey-ic-cl: #444551;

  /* Others */
}
