.header-portfolio {
  border-bottom: 1px solid #ececec;
}

.section-portfolio {
  @include section;

  @media screen and (min-width: 1200px) {
    @include section(94px, 94px);
  }
}

.list-btn-portfolio {
  display: flex;
  gap: 8px;
  row-gap: 15px;

  margin-bottom: 40px;

  @media screen and (max-width: 479px) {
    max-width: 320px;
  }

  @media screen and (max-width: 767px) {
    flex-wrap: wrap;
  }

  @media screen and (min-width: 768px) {
    justify-content: center;
    flex-wrap: nowrap;

    margin-bottom: 30px;
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
  }
}

.item-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16);
  letter-spacing: 0.03em;
  text-align: center;

  color: var(--main-txt-cl);
  background-color: var(--light-bg-cl);

  padding: 6px 22px;

  transition-property: color, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.item-btn:hover,
.item-btn:focus {
  color: var(--white-txt-cl);
  background-color: var(--accent-bg-cl);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-card {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
}

.card-item {
  @media screen and (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }
}

.portfolio-thumb {
  position: relative;

  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  transform: translateY(101%);

  width: 100%;
  height: 100%;

  background-color: rgba(33, 150, 243, 0.9);

  padding: 24px;

  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.overlay-desc {
  font-size: 18px;
  line-height: calc(28 / 18);

  color: var(--white-txt-cl);
}

.portfolio-card-link:hover .overlay,
.portfolio-card-link:focus .overlay {
  transform: translateY(0);
}

.portfolio-card-container {
  background: var(--white-bg-cl);

  border: 1px solid #eeeeee;

  padding-top: 20px;
  padding-right: 24px;
  padding-bottom: 20px;
  padding-left: 24px;
}

.portfolio-card-container-tablet {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    padding-bottom: 56px;
  }
}

.portfolio-card-link {
  display: block;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-card-link:hover,
.portfolio-card-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.img-name {
  font-weight: 700;
  font-size: 18px;
  line-height: calc(36 / 18);
  letter-spacing: 0.06em;

  margin-bottom: 4px;
}

.wrap {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: block;
  }
}

.subtitle-img {
  font-size: 16px;
  line-height: calc(30 / 16);

  color: var(--secondary-txt-cl);

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    &:first-child {
      padding-bottom: 36px;
    }
  }
}
